:root {
  --main: #eff1f5;
  --secondary: #dce0e8;
  --text: #4c4f69;
  --subtext: #6c6f85;
  --surface1: #ccd0da;
  --surface2: #acb0be;
  --flamingo: #dd7878;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system ui;
  font-size: 1.25rem;
  background: var(--main);
  color: var(--subtext);
}

.site-title {
  padding: 2rem;
  text-align: center;
  color: var(--text);
  background: var(--secondary);
}

.site-text {
  color: var(--subtext);
}

.wrapper {
  display: grid;
  gap: 1rem;
  text-align: center;
  place-items: center;
  max-width: 60rem;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.convert-btn,
.auto-height {
  border-radius: 6px;
}

.convert-btn {
  background: var(--flamingo);
  border-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text);
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.convert-btn:hover {
  background: var(--text);
  color: var(--flamingo);
}

.auto-height {
  width: 100%;
  height: 250px;
  border: 2px solid var(--surface2);
  background: var(--surface1);
  font-size: 1.2rem;
  color: var(--flamingo);
}

.auto-height:focus {
  outline: 2px solid var(--text);
}
