:root {
  --main: #eff1f5;
  --secondary: #dce0e8;
  --text: #4c4f69;
  --subtext: #6c6f85;
  --surface1: #ccd0da;
  --surface2: #acb0be;
  --flamingo: #dd7878;
  --green: #40a02b;
  --mauve: #8839ef;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif, system ui;
  font-size: 1.25rem;
  background: var(--main);
  color: var(--subtext);
}

.site-title {
  padding-top: 1rem;
  text-align: center;
  color: var(--text);
}

.site-title-span {
  color: var(--flamingo);
  background-image: linear-gradient(90deg, var(--flamingo), var(--mauve));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.site-text {
  font-weight: 500;
  font-style: italic;
  color: var(--subtext);
}

.wrapper {
  flex-grow: 1;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  max-width: 70rem;
  padding: 0rem 0.6rem;
  font-weight: 500;
}

.convert-btn,
.auto-height {
  border-radius: 6px;
}

.convert-btn {
  background: var(--flamingo);
  border-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main);
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.convert-btn:hover {
  background: var(--text);
}

.auto-height {
  width: 100%;
  height: clamp(250px, 700px, 50vh);
  border: 2px solid var(--surface2);
  background: var(--surface1);
  font-size: 1.2rem;
  color: var(--flamingo);
  resize: none;
}

.auto-height:focus {
  outline: 2px solid var(--text);
}

.footer {
  width: 100%;
  padding-block: 0.5rem;
  margin-top: 0.5rem;
  background: var(--secondary);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  height: 1.8rem;
  fill: var(--mauve);
  transition: all 200ms ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
  fill: var(--green);
}
