* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  margin: 2rem 0 0.5rem 0;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0066fffa;
  font: bold 1.5em sans-serif;
  color: #ffffff;
}
label {
  font-size: 24px;
}
.auto-height {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 1px;
  font-size: 24px;
}

@media (max-width: 1000px) {
  button {
    padding: 5px 10px;
    font: bold 1.3em sans-serif;
  }
  .auto-height {
    width: 80%;
    font-size: 16px;
  }
  label {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  label {
    font-size: 12px;
    font-weight: bold;
  }
}
